@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  font-size: 18px;
  perspective: 100;

  /*bg colors custom properties*/

  --bgdark1: #354446;
  --bgdark2: #293437;
  --bgdark3: #1d2529;
  --bgdark4: #11161b;

  --bglight1: #d8d8d8;
  --bglight2: #838581;
  --bglight3: #6e706d;
  --bglight4: #5a5c58;

  /*font colors custom properties */
  --fontdark: #11161b;
  --fontlight: #d8d8d8;

  /*fonts */
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;

  /*responsive sizes */
  --resPadding: clamp(4rem, 4rem * 2px, 10rem);
}

a {
  color: var(--fontlight);
}

a:visited {
  color: var(--fontlight);
}

h1 {
  font-size: 2rem;
  font-family: var(--roboto);
  font-weight: 600;
  letter-spacing: 6px;
}

h2 {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.absolute-text {
  position: absolute;
  width: 100vw;
  text-align: center;
  z-index: 2;
  text-decoration: underline;
  color: var(--fontlight);
  top: 3rem;
}

div {
  margin: 0;
  padding: 0;
}

/*MAIN - CONTENT SECTIONS */

main {
  background-color: var(--bglight1);
}

section {
  font-family: var(--poppins);
}

.first-content {
  background-color: var(--bglight1);
  color: var(--fontdark);
  padding-bottom: 1rem;
}

.second-content {
  z-index: -1;
  background-color: var(--bgdark3);
  color: var(--fontlight);
  transform: translateY(-9rem);
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.third-content {
  padding-top: 0;
}

section > p {
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 600;
}

.first-p {
  padding-top: 4rem;
}

.second-p {
  padding-bottom: 4rem;
  margin: 0;
}

.inter-section {
  position: relative;
  width: 75%;
  z-index: 2;
  transform: translateY(-3rem);
}

.inter-section2 {
  position: relative;
  width: 75%;
  z-index: 2;
  transform: translateY(-13rem);
}

.inter-section-text {
  width: 100vw;
  position: absolute;
  z-index: 3;
  color: var(--fontlight);
  transform: translateY(-6rem);
  text-align: center;
}

h3 {
  width: 100%;
  font-family: var(--roboto);
  font-weight: 300;
  font-size: 1.4rem;
  /* padding-left: 2.5rem; */
}

.navigation {
  margin: 0;
  height: 5rem;
  background-color: var(--bgdark4);
  color: var(--fontlight);
  justify-content: space-evenly;
  font-family: var(--poppins);
}

.logo {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: underline;
}

.event,
.contact {
  font-weight: 400;
  text-decoration: none;
}
